@import "~semantic-ui-css/semantic.min.css";

.ui.container {
  min-width: 60vw;
}

.ui {
  &.menu.inverted.blue {
    background-color: #004687 !important;
  }
  &.button.blue.basic {
    border-color: #004687 !important;
  }
}